<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Getting started: Service web apps</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="'Hello, ' + ${name} + '!'" />
        <script src="webjars/jquery/2.0.3/jquery.min.js"></script>
        <script>
            $(document).ready(function() { console.log("Hello world") });
        </script>
    </body>
</html>